<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share</title>
</head>
<body>
        <h1>Share</h1>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {%if not current_user.is_authenticated() %}
            <a href="{{ url_for('users.login') }}">login</a>
        {%else%}
            <a href="{{ url_for('users.logout') }}">logout</a>
        {% endif %}

        <div class="content">
                {% block content %}{% endblock %}
        </div>
    
</body>
</html>
